 *{
  margin: 0;
  padding: 0;
}

/* body {
  background: #C2BEB2;
}  */
.center {
  position: absolute;
  top: 0;
 left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


 
/* <!- Hello --> */
 .test img {
  --s: 150px;   /* the size of the image */
   --b: 4px;     /* the border thickness*/
   --g: 3px;    /* the gap */
   --c: #4020dc; /*the color */
  
   width: var(--s);
  aspect-ratio: 1;
  /* outline: calc(var(--s)/2) solid #ffffff; */

  outline-offset : calc(var(--s)/-2);
  cursor: pointer;
  transition: 0.1s;
} 
.test img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

 .test img + img {
  border-radius: 20%;
}


/* body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: column;
  gap: 50px;
  place-content: center;
  place-items: center;
  background: #C8C8A9;
} */

#push {
  padding: 23px;
}